.transparentNav {
    background-color: rgba(0, 0, 0, 0.7) !important;
    font-size: 18px;
}
.nav-link {
    margin-left: 40px;
    color: white !important;
}

#basic-nav-dropdown {
    color: white;
}